extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- project title
        h1 #{project.project_name}

        //- project description
        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- tech skills list
          each tech in project.technologies
            li #{tech}

        //- github links
        a.btn-link(href=project.live_link) Live Demo
        a.btn-link(href=project.github_link) GitHub Repo

    .project-img-box.box

      //- wide image display for project
      img.project-img(src=project.image_urls[1], alt='')

      //- repeat line above if there are more images to be shown

    nav.nav
      a(href='/')
        span &larr;
        |  Back
